{% load static %}
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <span class="mb-3 mb-md-0 text-body-secondary">© К.Д. Абдулфанова, 2024</span>
      </div>
      
      <div class="col-md-4 d-flex align-items-center">
        <span class="mb-3 mb-md-0 text-body-secondary">This product uses the TMDB API but is not endorsed or certified by TMDB.</span>
        <img class="img-fluid" style="height: 20px;" src="{% static 'images/tmdb_logo.svg' %}" alt="">
    </div>
      
    </footer>
  </div>