{% extends "base.html" %}

{% block title %}
Главная
{% endblock %}

{% block main %}

<h1 class="mt-3">Популярное</h1>

    <swiper-container class="mySwiper myScroll" autoplay='true' scrollbar="false" direction="horizontal" slides-per-view="auto"
        free-mode="true" mousewheel="true" hide="true">
        {% for movie in popular%}
        <swiper-slide class="col-md-2 col-sm-4" id="{{movie.id}}">
            {% include "movie_card.html" with movie=movie %}
        </swiper-slide>
        {% endfor %}
    </swiper-container>

    {% if user.is_authenticated %}
    
    {% endif %}

<h1 class="mt-3">Скоро в прокате</h1>
    <swiper-container class="mySwiper myScroll" autoplay='true' scrollbar="false" direction="horizontal" slides-per-view="auto"
        free-mode="true" mousewheel="true" hide="true">
        {% for movie in soon%}
        <swiper-slide class="col-md-2 col-sm-4" id="{{movie.id}}">
            {% include "movie_card.html" with movie=movie%}
        </swiper-slide>
        {% endfor %}
    </swiper-container>
</div>
{% endblock %}