<nav class="navbar bg-primary shadow sticky-top ">
  <div class="container-fluid justify-content-center">
    <div class="d-flex flex-row col-md-6 col-sm-12 justify-content-md-start justify-content-sm-evenly">
      <a title="Главная" class="menu btn btn-primary" href="/movieapp">
        <i class="bi bi-house-fill"></i>
      </a>
      <i class="bi bi-moon-stars"></i>
      <i class="bi bi-sun"></i>
      <div class="nav-item">
        {% if user.is_authenticated %}
        <a title="Профиль" class="nav-item menu btn btn-primary" href="{% url 'profile' user.id%}">
          <i class="bi bi-person-fill"></i>
        </a>
        {% else %}
        {% include 'login_form.html' %}
        {% endif %}
      </div>
      {% if user.is_authenticated %}
      <div class="nav-item">
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit" title="Выход" class="nav-item menu btn btn-primary">
            <i class="bi bi-box-arrow-right"></i>
          </button>
        </form>
      </div>
      {% endif %}
    </div>
    <form id="searchForm" class="d-flex col-md-3 col-sm-12" action="{% url 'results' %}" method="get">
      <div class="input-group">
        
      <span class="input-group-text" >
        <i class="bi bi-search"></i>
      </span>
        
        <input name="q" class="form-control col-11" type="search" aria-label="Search" placeholder="Запрос" {% if query %}value="{{query}}" {%endif%} />
        <select name="mediatype" class="form-select" id="inputGroupSelect01">
          <option {% if mediatype == "movie" %}selected{% endif %}  value="movie">Фильм</option>
          <option {% if mediatype == "tv" %}selected{% endif %}  value="tv">Сериал</option>
          <option {% if mediatype == "users" %}selected{% endif %}  value="users">Пользователи</option>
        </select> 
      </div>
      <button name="page" value="1" class="btn" type="submit" hidden></button>
      
    </form>
  </div>
</nav>