{% extends 'base.html' %}
{% load filters %}

{% block title %}
  {{ title }} ({{ release_date|cut }})
{% endblock %}


{% block main %}
<div class="backdrop-container">
  <img  alt="{{title}} backdrop" class="backdrop-image" data-fallback="https://i.playground.ru/p/o4cTXn6_IJJKuJNgK-v9dw.jpeg" onerror="handleBackdropError(this)" src="https://image.tmdb.org/t/p/original{{movie.backdrop_path}}" />
</div>
  <div class="d-flex flex-md-row flex-sm-column flex-wrap justify-content-center align-items-center" id="movieInfo">
    <div class="d-flex col-md-3 col-sm-12 flex-column justify-content-center poster-container">
      <img  alt="{{title}}" class="img-fluid movie-poster shadow-sm" data-fallback="https://placehold.co/600x900?text=" onerror="handleImageError(this)" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" />
        <div class="my-3 d-flex flex-row justify-content-around">
          {% if user.is_authenticated %}
          <a name="watched" data-id="{{ id }}" data-episodes="{{episodes}}" href="#" class="watch" title="Добавить в просмотренное">
            <i class="bi bi-eye{% if is_watched %}-fill{% endif %}"></i>
          </a>
          <button type="button" class="journal" data-bs-toggle="modal" data-bs-target="#modaljournal"  title="Добавить в журнал">
            <i class="bi bi-calendar-plus" style="color: $primary;"></i>
          </button>
          <a name="fav" data-id="{{ id }}" href="#" class="like" title="Добавить в избранное">
            <i class="bi bi-heart{% if is_liked %}-fill{% endif %}"></i>
          </a>
          {% else %}
          <a name="watched" data-id="{{ id }}" href="{% url 'login' %}" class="not-loggedin" title="Добавить в просмотренное">
            <i class="bi bi-eye{% if is_watched %}-fill{% endif %}"></i>
          </a>
          <a class="not-loggedin" href="{% url 'login' %}" title="Добавить в журнал">
            <i class="bi bi-calendar-plus" style="color: $primary;"></i>
          </a>
          <a name="fav" data-id="{{ id }}" href="{% url 'login' %}" class="not-loggedin" title="Добавить в избранное">
            <i class="bi bi-heart{% if is_liked %}-fill{% endif %}"></i>
          </a>
          {% endif %}
          
        </div>
    </div>
    <div class="col-md-6 col-sm-12 movie-data ps-md-3 ps-sm-0" aria-label="movie-data">
      <h1 class="movie-title" name="title bold">{{ title }} <small class="text-body-secondary">{{ release_date|format_date }}</small></h1>
      <p>{{ runtime|time }}</p>
      <h3 class="text-uppercase">{{ movie.tagline }}</h3>
      <p>{{ movie.overview }}</p>
      <h3>Жанры</h3>
      <p>{{ genres }}</p>
    </div>
    <div class="col-md-3 col-sm-12 credits-container">
      <div class="info-card">
        <h2 class="link">Актёры и создатели</h2>
        <div>
          {% for person in cast %}
              <p>{{ person.name }}</p>
          {% endfor %}
        </div>
        
        <h2>Похожее</h2>
        {% for rec in recs %}
        <p>
          
          <a class="link" href="{% url movie.is_Series|m_type rec.tmdb_id %}">
            {{rec.title}} ({{rec.release_date|year}})
          </a>
        </p>
          
        {% endfor %}

      </div>
    </div>
  </div>
  <div class="d-flex flex-row flex-wrap col-12 justify-content-around" aria-label="credits">
    
  </div>
  <!-- Modal -->  
  <div class="modal fade" id="modaljournal" tabindex="-1" aria-labelledby="journalModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="journalModal">Добавить в дневник</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'addtojournal' id=id %}" id="formJournal" method="post">
            {% csrf_token %}
            <input type="date" name="date" max="{{max_date}}" min="{{release_date}}" id="watchedDate" required/>
          </form>
        </div>
        <div class="modal-footer">
          <button form="formJournal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            <button form="formJournal" type="submit" class="btn btn-primary">Добавить</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}


{% endblock scripts %}


{% block domready %}
  const url_like = '{% url 'addtofav' %}';
  var options = {
      method: 'POST',
      headers: { 'X-CSRFToken': csrftoken },
      mode: 'same-origin'
  }
  var likeButton = document.querySelector('a.like')
  var watchButton = document.querySelector('a.watch')
  likeButton.addEventListener('click', async function (e) {
          e.preventDefault();
          var formData = new FormData();
          formData.append('id', likeButton.dataset.id);
          options['body'] = formData;
          console.log("like");
          fetch(url_like, options)
              .then(response => response.json())
              .then(data => {
                  if (data['status'] === 'ok') {
                    if (likeButton.children[0].classList.contains("bi-heart") && watchButton.children[0].classList.contains("bi-eye")){
                      watchButton.children[0].classList.toggle("bi-eye");
                      watchButton.children[0].classList.toggle("bi-eye-fill");
                    }
                    likeButton.children[0].classList.toggle("bi-heart");
                    likeButton.children[0].classList.toggle("bi-heart-fill");
                    
                  }
              })
      });
  const url_wacthed = '{% url 'addtowatched' %}';
  watchButton.addEventListener('click', async function (e) {
          e.preventDefault();
          var watchButton = this;
          console.log("watch");
          var formData = new FormData();
          formData.append('id', watchButton.dataset.id);
          options['body'] = formData;
  
          fetch(url_wacthed, options)
              .then(response => response.json())
              .then(data => {
                console.log(data);
                  if (data['status'] === 'ok') {
                    if (likeButton.children[0].classList.contains("bi-heart-fill") && watchButton.children[0].classList.contains("bi-eye-fill")){
                      likeButton.children[0].classList.toggle("bi-heart");
                      likeButton.children[0].classList.toggle("bi-heart-fill");
                    }
                    watchButton.children[0].classList.toggle("bi-eye");
                    watchButton.children[0].classList.toggle("bi-eye-fill");
                    
                  }
                  else{
                    console.log("error");
                  }
              })
      });

{% endblock %}
