{% extends 'base.html' %}
{% load filters %}

{% block main %}
<div class="d-flex flex-row">
  <h1>Профиль {{ user.get_username }}</h1>

  <div class="dropdown">
    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-gear"></i>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'editprofile' %}">Редактировать профиль</a></li>
      <li><a class="dropdown-item" href="{% url 'editpass' %}">Сменить пароль</a></li>
    </ul>
  </div>
</div>
  {% if not 'edit' in request.path %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="{% url 'watched' %}" class="nav-link tabs {% if 'watched' in request.path %}active{% endif %}">Просмотренные</a>
    </li>
    <li class="nav-item">
      <a href="{% url 'liked' %}" class="nav-link tabs {% if 'liked' in request.path %}active{% endif %}">Любимые</a>
    </li>
    <li class="nav-item">
      <a href="{% url 'journal' %}" class="nav-link tabs {% if 'journal' in request.path %}active{% endif %}">Журнал</a>
    </li>

    <li class="nav-item">
      <a href="{% url 'stats' 'month' %}" class="nav-link tabs {% if 'stats' in request.path %}active{% endif %}">Статистика</a>
    </li>
  </ul>
  {% endif %}
  
  <div class="col-12 mt-3">
    {% block content %}
    {% endblock %}
  </div>
  
{% endblock %}
